<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0" >
	<display-name>Archetype Created Web Application (etjs)</display-name>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
	<context-param>
		<param-name>PARAMETER_ENCODING</param-name>
		<param-value>UTF-8</param-value>
	</context-param>

	<!-- ***** ERROR Configuration ***** -->
	<error-page>
		<!-- Missing login -->
		<error-code>401</error-code>
		<location>/WEB-INF/jsp/errorpages/error404.jsp</location>
	</error-page>
	<error-page>
		<!-- Forbidden directory listing -->
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/errorpages/error404.jsp</location>
	</error-page>
	<error-page>
		<!-- Missing resource -->
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/errorpages/error404.jsp</location>
	</error-page>
	<error-page>
		<!-- Uncaught exception -->
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/errorpages/error404.jsp</location>
	</error-page>
	<error-page>
		<!-- Unsupported servlet method -->
		<error-code>503</error-code>
		<location>/WEB-INF/jsp/errorpages/error404.jsp</location>
	</error-page>
</web-app>
